<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>算术运算符测试</title>
</head>
<body>
<h1>数组测试: </h1>
<p>"+" => {$userArray['age']+1}</p>
<p>"-" => {$userArray['age']-1}</p>
<p>"*" => {$userArray['age']*2}</p>
<p>"/" => {$userArray['age']/2}</p>
<p>"%" => {$userArray['age']%2}</p>

<h1>对象测试: </h1>
<p>"+" => {$userObj->age+1}</p>
<p>"-" => {$userObj->age-1}</p>
<p>"*" => {$userObj->age*2}</p>
<p>"/" => {$userObj->age/2}</p>
<p>"%" => {$userObj->age%2}</p>
</body>
</html>